@using Churro.Models

@page "/posts"

<h2>Posts</h2>

@foreach (Post post in pList)
{
    <p>Id: @post.Id | CreatedAt = @post.CreatedAt | Title: @post.Title</p>
}

@code {

    List<Post> pList = new List<Post>();

    protected async override void OnInitialized()
    {
        var url = Environment.GetEnvironmentVariable("SUPABASE_URL");
        var key = Environment.GetEnvironmentVariable("SUPABASE_KEY");

        if (string.IsNullOrEmpty(url) || string.IsNullOrEmpty(key))
        {
            throw new InvalidOperationException("Supabase URL or Key is not set.");
        }

        var options = new Supabase.SupabaseOptions
            {
                AutoConnectRealtime = true
            };

        var supabase = new Supabase.Client(url, key, options);
        await supabase.InitializeAsync();

        var result = await supabase.From<Post>().Get();
        var posts = result.Models;

        foreach (Post post in posts)
        {
            pList.Add(post);
        }
    }
}
